:root {
    --color-fondo: #fdf8ef;

    --color-principal: #ae7d5c;
    --color-acento: #814427;

    --tipografia-principal: 'anton sc';
    --tipografia-secundaria: "lexend";
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.tarjeta {
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-fondo);
    border: var(--color-principal) 1px solid;
}

.izquierda {
    width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-principal);
}
.profile {
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 10%;
    background-color: bisque;
}
.separador{
    width: 80%;
    height: 1.5px;
    background-color: var(--color-principal);
    margin: 10%;
}

h1{
    font-family: var(--tipografia-principal);
    font-weight: lighter;
    font-size: 100%;
    margin: 0;

}

h2,  ul, p{
    font-family: var(--tipografia-secundaria) ;
    font-size: 60%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


.derecha {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: baseline;
    justify-content: center;
    color: var(--color-principal);
}

ul {
    list-style-type: none;
    margin-top: 10%;
}
li{
    display: flex;
    align-items: center;
}
a:hover{
    color: var(--color-acento);
}
a {
    text-decoration: none;
    color: inherit;
}
i {
        margin-right: 5px;
}